<div class="book-card__actions">
    <% if (!isSingle) { %>
        <a
            alt="Open book: <%= title %>"
            class="btn btn-primary book-card__btn"
            href="/book/<%= id %>"
        >
            <span>Open</span>
        </a>
    <% } %>
    <a
        alt="Edit book: <%= title %>"
        class="btn btn-warning book-card__btn"
        href="/book/edit/<%= id %>"
    >
        <span>Edit</span>
    </a>
    <a
        alt="Delete book: <%= title %>"
        class="btn btn-danger book-card__btn"
        href="/book/delete/<%= id %>"
    >
        <span>Delete</span>
    </a>
</div>