<%
  const { viewsCounter } = locals;
  const {
    authors,
    description,
    fileCover,
    id,
    title,
  } = book;
%>

<div class="col col-sm-<%= isSingle ? '12' : '4' %>">
    <div class="book-card <%= isSingle ? 'book-card--single' : '' %>">
        <div
            alt="Book <%= title %> cover"
            class="book-card__cover"
            style="background-image: url('<%= fileCover %>');"
        ></div>
        <div class="book-card__content">
            <h3 class="book-card__title">
                <%= book.title %>
            </h3>
            <% if (viewsCounter) { %>
                <div>Views: <%= viewsCounter %></div>
            <% } %>
            <p>
                <%= authors %>
            </p>
            
            <%- include('./book-card-description', {
                description,
                descriptionLengthLimit: locals.descriptionLengthLimit,
            }); -%>

            <%- include('./book-card-actions', {
                id,
                isSingle,
                title,
            }); -%>
        </div>
    </div>
</div>